/*
table {
    border: 1px solid black;
    width: 100%;
    font-size: 100%;
    background-color: #ffeeee;
}
tr, td{
    border: 1px solid black;
}

.display-text{
    background-color: #ff8e9f;
}

.input-field{
    background-color: #feccd4;
}

.unused-cell{
    background-color: #777;
    color: #777;
}

#dps-picture-cell{
    width: 20%;
    height: 20%;
    padding-top: 0px;
}

#dps-picture{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-bottom: -5px;
}

.cell-legend{
    background-color: #efdfb0;
    border-radius: 16%;
}

#go-button-img{
    width: 30px;
    height: 30px;
    margin-bottom: -5px;
}

.collapsible-button {
    background-color: #b3b3b3;
    color: #000000;
    cursor: pointer;
    width: 100%;
    border: 1px;
    text-align: left;
    outline: none;
}
  
.active, .collapsible-button:hover {
    background-color: #808080;
}
  
.collapsible-content {
    display: none;
    overflow: hidden;
    background-color: #ffd0d0;
}
  
.party-buff-img-container{
    width: 10%;
}
.party-buff-img{
    width: 100%;
}
.party-buff-check{
    width: 10%;
    text-align: center;
}

.larger-check{
    width:25px;
    height:25px;
}
*/

@font-face {
    font-family: mtdfont;
    src: url(../font/Mplus2-Medium.otf);
    font-weight: bold;
}
@font-face {
    font-family: mtdfontlight;
    src: url(../font/LiberationSans.ttf);
    font-weight: bold;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*
div{
    border:1px solid black;
}
*/
hr{
    margin:5px;
}

#dps-input{
    width: 100%;
}
#dps-dps{
    width: 100%;
}
#dps-output{
    width: 100%;
}
#dps-info{
    width: 100%;
}

#dps-input td{
    border: 3px solid white;
}
.dps-tabcontent{
    animation: fadeEffect 0.3s;
    padding: 8px;
}
.dps-tabcontent span{
    font-family: mtdfont;
}
.dps-tabcontent input[type="number"]{
    vertical-align: middle;
    width: 20%;
    height: 25px;
    font-family: mtdfont;
}
.dps-tabs{
    overflow: hidden;
}
.dps-input-tablink-content{
    background-color: #ffb8c3;
}
.dps-input-tabs button{
    cursor: pointer;
    background-color: #c0c0c0;
    border: none;
    float: left;
    font-family: mtdfont;
    font-size: min(20px,2vw);
}
.dps-input-tabs button.active{
    background-color: #ffb8c3;
}
.dps-input-tabs button img{
    height: 25px;
    vertical-align: middle;
}
#dps-output-stats .chara-icon{
    width: 100%;
}
#dps-output-stats table{
    background-color: #99ffbe;
    border: 1px solid black;
    width:100%;
    font-size: 0.9em;
}
#dps-output-stats td{
    background-color: white;
    font-family: mtdfont;
    width: 15%;
    text-align: center;
}
#dps-output-stats .displaytext{
    background-color: #99ffbe;
}
.dps-output-stats-tabs button{
    cursor: pointer;
    background-color: #c0c0c0;
    border: none;
    float: left;
    font-family: mtdfont;
    font-size: min(20px,2vw);
}
.dps-output-stats-tabs button img{
    height: 25px;
    vertical-align: middle;
}
.dps-output-stats-tabs button.active{
    background-color: #99ffbe;
}
.dps-output-stats-tablink-content{
    background-color: #99ffbe;
}
/*dps-dps*/
#dps-dps-stats table{
    background-color: #bffcff;
    border: 1px solid black;
    width:100%;
    font-size: 0.9em;
}
#dps-dps-stats td{
    background-color: white;
    font-family: mtdfont;
    width: 16.66%;
    text-align: center;
}
#dps-dps-stats .displaytext{
    background-color: #bffcff;
}
.dps-dps-stats-tabs button{
    cursor: pointer;
    background-color: #c0c0c0;
    border: none;
    float: left;
    font-family: mtdfont;
    font-size: min(20px,2vw);
}
.dps-dps-stats-tabs button img{
    height: 25px;
    vertical-align: middle;
}
.dps-dps-stats-tabs button.active{
    background-color: #bffcff;
}
.dps-dps-stats-tablink-content{
    background-color: #bffcff;
}
/*dps-info*/
#dps-info-stats table{
    background-color: #efdfb0;
    border: none;
    width:100%;
    font-size: 0.9em;
}
#dps-info-stats td{
    background-color: white;
    font-family: mtdfont;
    width: 25%;
    text-align: left;
}
#dps-info-stats .displaytext{
    background-color: #efdfb0;
    border: 1px solid white;
    text-align: center;
}
.dps-info-stats-tabs button{
    cursor: pointer;
    background-color: #c0c0c0;
    border: none;
    float: left;
    font-family: mtdfont;
    font-size: min(18px,1.7vw);
}
.dps-info-stats-tabs button img{
    height: 25px;
    vertical-align: middle;
}
.dps-info-stats-tabs button.active{
    background-color: #efdfb0;
}
.dps-info-stats-tablink-content{
    background-color: #efdfb0;
}






.inputInsertButton{
    width: 100%;
    text-align: left;
    font-family: mtdfont;
    background-color: #ff7d7d;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin:1px;
}

#excluded-subskills{
    border:none;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-family: mtdfont;
    padding: 2px;
}
.infoTabExpand{
    width: 100%;
    text-align: left;
    font-family: mtdfont;
    background-color: #e4ab00;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin:1px;
}
.subskill-optimise-button{
    width:100%;
    height:25px;
    font-family: mtdfont;
    background-color: #eacb6e;
    cursor: pointer;
    border: 1px solid #e4ab00;
    border-radius: 5px;
}
#subskill-optimise-bar {
    width: 30%;
    height: 25px;
    background-color: #3fffb9;
    border-radius: 10px;
  }
.popup-loading{
    width: 100%;
    background-color: #939393;
    border-radius: 10px;
}



#type-icons img{
    width: 40px;
}

.equip-icon{
    width: 50px;
}

.larger-check{
    width: 20px;
    height: 20px;
}
#loading-fade{
    opacity: 0.5;
    background-color: #000000; 
    width: 100%;
    height: 100%; 
    z-index: 10;
    top: 0; 
    left: 0; 
    position: fixed;
    display:none;
    padding: auto;
    color: #ffffff;
    text-align: center;
}

#excludeSubskillSelect td{
    width: 20%;
    font-size: min(14px,1vw);
    cursor: pointer;
    background-color:#b3ffcf;
}
#excludeSubskillSelect td.displaytext{
    width: 20%;
    font-size: min(16px,1vw);
    cursor: default;
}
#excludeSubskillSelect td.excluded{
    background-color: #c0c0c0;
}
#excludeSubskillSelect td.category{
    border: 3px solid #e4ab00;
}

#compCharaSelect td{
    width: 16.67%;
    font-size: min(14px,1vw);
    cursor: pointer;
    background-color:#c0c0c0;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
}
#compCharaSelect td img{
    max-width: 25px;
    display: inline-block;
}
#compCharaSelect td.displaytext{
    width: 20%;
    font-size: min(15px,1vw);
    cursor: default;
}
#compCharaSelect td.included{
    background-color: #b3ffcf;
}
#compCharaSelect td.category{
    border: 3px solid #e4ab00;
}
#compCharaResult td{
    height:50px;
    width: auto;
    padding: 0px;
    border: none;
}
#compCharaResult td img{
    height:50px;
    width: 50px;
    display: block;
}
#compCharaResult2 td{
    height:50px;
    width: auto;
    padding: 0px;
    border: none;
}
#compCharaResult2 td img{
    height:50px;
    width: 50px;
    display: block;
}
#compCharaResult3 td{
    height:50px;
    width: auto;
    padding: 0px;
    border: none;
}
#compCharaResult3 td img{
    height:50px;
    width: 50px;
    display: block;
}

.subskill-hidden{
    display: none;
}