@font-face {
  font-family: mtdfont;
  src: url(../font/Mplus2-Medium.otf);
  font-weight: bold;
}

.nav-link {
    width: 10%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: sans-serif;
}

.nav-menu {
    width: 100%;
    background-color: #b4b4b4;
    padding-left: 10px;
}

.navbar{
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.hline {
  margin: 3px;
}

.filterDiv {
    float: left;
    color: #ffffff;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 2px;
    border-radius: 20px;
    display: none;
}

  
.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  margin: 1px;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 12px;
}
.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
.legendB{background-color:#fff6da;border:1px solid #ffbf00;}
.legendB:hover{background-color:#edd58f;border:1px solid #ffbf00;}
.legendB.active{background-color:#ffbf00;border:1px solid #ffbf00;}
.epicB{background-color:#ffddff;border:1px solid #ff00ff;}
.epicB:hover{background-color: #ef80ef;border:1px solid #ff00ff;}
.epicB.active{background-color: #ff00ff;border:1px solid #ff00ff;}
.rareB{background-color:#cff1ff;border:1px solid #00abee;}
.rareB:hover{background-color: #42c9ff;border:1px solid #00abee;}
.rareB.active{background-color: #00abee;border:1px solid #00abee;}
.commonB{background-color:#cdcdcd;border:1px solid #808080;}
.commonB:hover{background-color: #aeaeae;border:1px solid #808080;}
.commonB.active{background-color: #808080;border:1px solid #808080;}
.fireAB{background-color:#f1f1f1;}
.fireAB:hover{background-color: #FF9775;}
.fireAB.active{background-color: #ff5820;}
.waterAB{background-color:#f1f1f1;}
.waterAB:hover{background-color: #84E0FF;}
.waterAB.active{background-color: #00bfff;}
.windAB{background-color:#f1f1f1;}
.windAB:hover{background-color: #78EA50;}
.windAB.active{background-color: #1ccf00;}
.lightAB{background-color:#f1f1f1;}
.lightAB:hover{background-color: #ffe15a;}
.lightAB.active{background-color: #ffe600;color: black;}
.darkAB{background-color:#f1f1f1;}
.darkAB:hover{background-color: #B564FF;}
.darkAB.active{background-color: #992cff;}
.earthAB{background-color:#f1f1f1;}
.earthAB:hover{background-color: #dd782a;}
.earthAB.active{background-color: #c45500;}

#showAll{background-color:#FCBDC6;color: black;}
#showAll:hover{background-color:#ffa8b5;color: black;}


.collapsible-button {
  font-family: mtdfont;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: 1px solid black;
}


.smallCharaImg {
  width: 100px;
}

#infoWindow {
  display: none;
}

table {
  border: 1px solid black;
  width: 100%;
}
tr, td{
  border: 1px solid black;
}

#webheader{
  background-color: #fedce1;
}
#selectionWindow{
  background-color: #fedce1;
}